<?xml version="1.0" encoding="utf-8"?>
<nuget xmlns="http://www.gehtsoft.com/build/nuget">
 <versions>
  <version id="0.0.27">- Version of 01/25/24</version>
 </versions>
 <properties>
  <owner>Gehtsoft</owner>
  <projectUrl>https://github.com/nikolaygekht/luax</projectUrl>
  <copyright>Gehtsoft USA LLC 2016-2022</copyright>
 </properties>
 <projects>
   <project id="Luax.Parser">
    <description>LuaX Parser</description>
   </project>
   <project id="Luax.Interpreter">
    <description>LuaX Interpreter Runtime</description>
   </project>
 </projects>
</nuget>